html
	head
		title Profile
		link(href='/css/materialize.min.css' type="text/css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(href='/css/profile.css' type="text/css" rel="stylesheet")
		script(src='/js/jquery-3.1.1.min.js')
		script(src='/js/materialize.min.js')
		script(src='/js/custom.js')
	body
		ul#dropdown1.dropdown-content
			li
				a(href='/settings') Account
			li
				a(href='/password') Password
		nav
			div.nav-wrapper
				a#logo.brand-logo(href="#") LangGa
				a.button-collapse(href="#" data-activates="mobile-demo")
					i.material-icons#hamburger menu
				ul.right.hide-on-med-and-down#nav-mobile
					li
						a(href='/profile')= user.userName
					li
						a.dropdown-button(href='#' data-activates='dropdown1') Settings
					li
						a#logoutButton.waves-effect.waves-light.btn-large.z-depth-0(href='/logout') Logout
				ul.side-nav#mobile-demo
					li
						a(href='/profile')= user.userName
					ul.collapsible(data-collapsible='accordion')
						li 
							div.collapsible-header 
								a Settings
							div.collapsible-body
								a(href='/settings') Account
								a(href='/password') Password
					li
						a(href='/logout') Logout
		div#profile.row
			div.col.s12.offset-s0.m8.offset-m2.l3.offset-l0
				div.card
					div.card-content
						img.image(src="images/duck.jpg")
						h3#title= user.userName
						h5= user.fullName
						p 
						h3 Best Score
						- var bestMemoryResult = []
						- for(var h = 0; h < id[0].memory.length; h++)
							- bestMemoryResult.push({language: id[0].memory[h].language, theme: id[0].memory[h].theme, score: id[0].memory[h].score})
						- var bestMemory = bestMemoryResult.reduce(function(prev, curr) { return prev.score < curr.score ? prev : curr; })
						- if(bestMemory.language == "NL") 
							h5 Memory: Dutch #{bestMemory.theme} - #{bestMemory.score}
						- else if(bestMemory.language == "ES")
							h5 Memory: Spanish #{bestMemory.theme} - #{bestMemory.score}
						- else if(bestMemory.language == "FR")
							h5 Memory: French #{bestMemory.theme} - #{bestMemory.score}

						- var bestQuizResult = []
						- for(var g = 0; g < id[1].quiz.length; g++)
							- bestQuizResult.push({language: id[1].quiz[g].language, theme: id[1].quiz[g].theme, score: id[1].quiz[g].score})
						- var bestQuiz = bestQuizResult.reduce(function(prev, curr) { return prev.score > curr.score ? prev : curr; }) 
						- if(bestQuiz.language == "NL") 
							h5 Quiz: Dutch #{bestQuiz.theme} - #{bestQuiz.score}
						- else if(bestQuiz.language == "ES")
							h5 Quiz: Spanish #{bestQuiz.theme} - #{bestQuiz.score}
						- else if(bestQuiz.language == "FR")
							h5 Quiz: French #{bestQuiz.theme} - #{bestQuiz.score}

			div.col.l9
				div.col.l12.m12.s12
					div#gameTitle.card
						div.card-content
							h3.game Memory


				div.col.l4.m4.s6
					div.card
						div.card-content
							h4 Dutch
							div.results
								- var nlMemoryResult = []
								- for(var i = 0; i < id[0].memory.length; i++)
									-if (id[0].memory[i].language == 'NL')
										- nlMemoryResult.push(id[0].memory[i].id)
								- if (nlMemoryResult.length == 0)
									a(href="/memory-food-nl" name="food-nl" id="food-nl")
										img.buttons(src="images/food-btn-bw.png")
									a(href="#" name="animal-nl" id="animal-nl") &nbsp;
										img.buttons(src="images/animal-btn-bw.png")
									a(href="#" name="family-nl" id="family-nl") &nbsp;
										img.buttons(src="images/family-btn-bw.png")
								- else if (nlMemoryResult.length == 1)
									a(href="/memory-food-nl" name="food-nl" id="food-nl")
										img.buttons(src="images/food-btn-color.png")
									a(href="/memory-animal-nl" name="animal-nl" id="animal-nl") &nbsp;
										img.buttons(src="images/animal-btn-bw.png")
									a(href="#" name="family-nl" id="family-nl") &nbsp;
										img.buttons(src="images/family-btn-bw.png")
								- else if (nlMemoryResult.length == 2)
									a(href="/memory-food-nl" name="food-nl" id="food-nl")
										img.buttons(src="images/food-btn-color.png")
									a(href="/memory-animal-nl" name="animal-nl" id="animal-nl") &nbsp;
										img.buttons(src="images/animal-btn-color.png")
									a(href="/memory-family-nl" name="family-nl" id="family-nl") &nbsp;
										img.buttons(src="images/family-btn-bw.png")
								- else if (nlMemoryResult.length == 3)
									a(href="/memory-food-nl" name="food-nl" id="food-nl")
										img.buttons(src="images/food-btn-color.png")
									a(href="/memory-animal-nl" name="animal-nl" id="animal-nl") &nbsp;
										img.buttons(src="images/animal-btn-color.png")
									a(href="/memory-family-nl" name="family-nl" id="family-nl") &nbsp;
										img.buttons(src="images/family-btn-color.png")
							br
							

						
				div.col.l4.m4.s6
					div.card
						div.card-content
							h4 Spanish
							div.results
								- var esMemoryResult = []
									- for(var j = 0; j < id[0].memory.length; j++)
										- if(id[0].memory[j].language == "ES")
											- esMemoryResult.push(id[0].memory[j].id)
									- if(esMemoryResult.length == 0)
										a(href="/memory-food-es" name="food-es" id="food-es")
											img.buttons(src="images/food-btn-bw.png")
										a(href="#" name="animal-es" id="animal-es") &nbsp;
											img.buttons(src="images/animal-btn-bw.png")
										a(href="#" name="family-es" id="family-es") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (esMemoryResult.length == 1)
										a(href="/memory-food-es" name="food-es" id="food-es")
											img.buttons(src="images/food-btn-color.png")
										a(href="/memory-animal-es" name="animal-es" id="animal-es") &nbsp;
											img.buttons(src="images/animal-btn-bw.png")
										a(href="#" name="family-es" id="family-es") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (esMemoryResult.length == 2)
										a(href="/memory-food-es" name="food-es" id="food-es")
											img.buttons(src="images/food-btn-color.png")
										a(href="/memory-animal-es" name="animal-es" id="animal-es") &nbsp;
											img.buttons(src="images/animal-btn-color.png")
										a(href="/memory-family-es" name="family-es" id="family-es") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (esMemoryResult.length == 3)
										a(href="/memory-food-es" name="food-es" id="food-es")
											img.buttons(src="images/food-btn-color.png")
										a(href="/memory-animal-es" name="animal-es" id="animal-es") &nbsp;
											img.buttons(src="images/animal-btn-color.png")
										a(href="/memory-family-es" name="family-es" id="family-es") &nbsp;
											img.buttons(src="images/family-btn-color.png")
							br
				div.col.l4.m4.s6
					div.card
						div.card-content
							h4 French
							div.results
								- var frMemoryResult = []
									- for(var k = 0; k < id[0].memory.length; k++)
										- if(id[0].memory[k].language == "FR")
											- frMemoryResult.push(id[0].memory[k].id)
									- if(frMemoryResult.length == 0)
										a(href="/memory-food-fr" name="food-fr" id="food-fr")
											img.buttons(src="images/food-btn-bw.png")
										a(href="#" name="animal-fr" id="animal-fr") &nbsp;
											img.buttons(src="images/animal-btn-bw.png")
										a(href="#" name="family-fr" id="family-fr") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (frMemoryResult.length == 1)
										a(href="/memory-food-fr" name="food-fr" id="food-fr")
											img.buttons(src="images/food-btn-color.png")
										a(href="/memory-animal-fr" name="animal-fr" id="animal-fr") &nbsp;
											img.buttons(src="images/animal-btn-bw.png")
										a(href="#" name="family-fr" id="family-fr") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (frMemoryResult.length == 2)
										a(href="/memory-food-fr" name="food-fr" id="food-fr")
											img.buttons(src="images/food-btn-color.png")
										a(href="/memory-animal-fr" name="animal-fr" id="animal-fr") &nbsp;
											img.buttons(src="images/animal-btn-color.png")
										a(href="/memory-family-fr" name="family-fr" id="family-fr") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (frMemoryResult.length == 3)
										a(href="/memory-food-fr" name="food-fr" id="food-fr")
											img.buttons(src="images/food-btn-color.png")
										a(href="/memory-animal-fr" name="animal-fr" id="animal-fr") &nbsp;
											img.buttons(src="images/animal-btn-color.png")
										a(href="/memory-family-fr" name="family-fr" id="family-fr") &nbsp;
											img.buttons(src="images/family-btn-color.png")
							br

				div.col.l12.s12
					div#gameTitle.card
						div.card-content
							h3.game Quiz 


				div.col.l4.m4.s6
					div.card
						div.card-content
							h4 Dutch
							div.results
								- var nlQuizResult = []
									- for(var l = 0; l < id[1].quiz.length; l++)
										- if(id[1].quiz[l].language == "NL")
											- nlQuizResult.push(id[1].quiz[l].id)
									- if(nlQuizResult.length == 0)
										a(href="/quiz-food-nl" name="food-nl" id="food-nl")
											img.buttons(src="images/food-btn-bw.png")
										a(href="#" name="animal-nl" id="animal-nl") &nbsp;
											img.buttons(src="images/animal-btn-bw.png")
										a(href="#" name="family-nl" id="family-nl") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (nlQuizResult.length == 1)
										a(href="/quiz-food-nl" name="food-nl" id="food-nl")
											img.buttons(src="images/food-btn-color.png")
										a(href="/quiz-animal-nl" name="animal-nl" id="animal-nl") &nbsp;
											img.buttons(src="images/animal-btn-bw.png")
										a(href="#" name="family-nl" id="family-nl") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (nlQuizResult.length == 2)
										a(href="/quiz-food-nl" name="food-nl" id="food-nl")
											img.buttons(src="images/food-btn-color.png")
										a(href="/quiz-animal-nl" name="animal-nl" id="animal-nl") &nbsp;
											img.buttons(src="images/animal-btn-color.png")
										a(href="/quiz-family-nl" name="family-nl" id="family-nl") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (nlQuizResult.length == 3)
										a(href="/quiz-food-nl" name="food-nl" id="food-nl")
											img.buttons(src="images/food-btn-color.png")
										a(href="/quiz-animal-nl" name="animal-nl" id="animal-nl") &nbsp;
											img.buttons(src="images/animal-btn-color.png")
										a(href="/quiz-family-nl" name="family-nl" id="family-nl") &nbsp;
											img.buttons(src="images/family-btn-color.png")
							br

				div.col.l4.m4.s6
					div.card
						div.card-content
							h4 Spanish
							div.results
								- var esQuizResult = []
									- for(var m = 0; m < id[1].quiz.length; m++)
										- if(id[1].quiz[m].language == "ES")
											- esQuizResult.push(id[1].quiz[m].id)
									- if(esQuizResult.length == 0)
										a(href="/quiz-food-es" name="food-es" id="food-es")
											img.buttons(src="images/food-btn-bw.png")
										a(href="#" name="animal-es" id="animal-es") &nbsp;
											img.buttons(src="images/animal-btn-bw.png")
										a(href="#" name="family-es" id="family-es") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (esQuizResult.length == 1)
										a(href="/quiz-food-es" name="food-es" id="food-es")
											img.buttons(src="images/food-btn-color.png")
										a(href="/quiz-animal-es" name="animal-es" id="animal-es") &nbsp;
											img.buttons(src="images/animal-btn-bw.png")
										a(href="#" name="family-es" id="family-es") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (esQuizResult.length == 2)
										a(href="/quiz-food-es" name="food-es" id="food-es")
											img.buttons(src="images/food-btn-color.png")
										a(href="/quiz-animal-es" name="animal-es" id="animal-es") &nbsp;
											img.buttons(src="images/animal-btn-color.png")
										a(href="/quiz-family-es" name="family-es" id="family-es") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (esQuizResult.length == 3)
										a(href="/quiz-food-es" name="food-es" id="food-es")
											img.buttons(src="images/food-btn-color.png")
										a(href="/quiz-animal-es" name="animal-es" id="animal-es") &nbsp;
											img.buttons(src="images/animal-btn-color.png")
										a(href="/quiz-family-es" name="family-es" id="family-es") &nbsp;
											img.buttons(src="images/family-btn-color.png")
							br

				div.col.l4.m4.s6
					div.card
						div.card-content
							h4 French
							div.results
								- var frQuizResult = []
									- for(var n = 0; n < id[1].quiz.length; n++)
										- if(id[1].quiz[n].language == "FR")
											- frQuizResult.push(id[1].quiz[n].id)
									- if(frQuizResult.length == 0)
										a(href="/quiz-food-fr" name="food-fr" id="food-fr")
											img.buttons(src="images/food-btn-bw.png")
										a(href="#" name="animal-fr" id="animal-fr") &nbsp;
											img.buttons(src="images/animal-btn-bw.png")
										a(href="#" name="family-fr" id="family-fr") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (frQuizResult.length == 1)
										a(href="/quiz-food-fr" name="food-fr" id="food-fr")
											img.buttons(src="images/food-btn-color.png")
										a(href="/quiz-animal-fr" name="animal-fr" id="animal-fr") &nbsp;
											img.buttons(src="images/animal-btn-bw.png")
										a(href="#" name="family-fr" id="family-fr") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (frQuizResult.length == 2)
										a(href="/quiz-food-fr" name="food-fr" id="food-fr")
											img.buttons(src="images/food-btn-color.png")
										a(href="/quiz-animal-fr" name="animal-fr" id="animal-fr") &nbsp;
											img.buttons(src="images/animal-btn-color.png")
										a(href="/quiz-family-fr" name="family-fr" id="family-fr") &nbsp;
											img.buttons(src="images/family-btn-bw.png")
									- else if (frQuizResult.length == 3)
										a(href="/quiz-food-fr" name="food-fr" id="food-fr")
											img.buttons(src="images/food-btn-color.png")
										a(href="/quiz-animal-fr" name="animal-fr" id="animal-fr") &nbsp;
											img.buttons(src="images/animal-btn-color.png")
										a(href="/quiz-family-fr" name="family-fr" id="family-fr") &nbsp;
											img.buttons(src="images/family-btn-color.png")
							br
							