html
	head
		title Account
		link(href='/css/materialize.min.css' type="text/css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(href='/css/settings.css' type="text/css" rel="stylesheet")
		script(src='/js/jquery-3.1.1.min.js')
		script(src='/js/materialize.min.js')
		script(src='/js/custom.js')
	body
		nav
			div.nav-wrapper
				a#logo.brand-logo(href="#") LangGa
				a.button-collapse(href="#" data-activates="mobile-demo")
					i.material-icons#hamburger menu
				ul.right.hide-on-med-and-down#nav-mobile
					li
						a(href='/profile')= user.userName
					li
						a(href='/settings') Settings

					li
						a#logoutButton.waves-effect.waves-light.btn-large.z-depth-0(href='/logout') Logout
				ul.side-nav#mobile-demo
					li
						a(href='/profile')= user.userName
					li
						a.dropdown-button(href='#' data-activates='dropdown1') Settings
							i.material-icons.right arrow_drop_down
					li
						a(href='/logout') Logout
		div.row
			div.col.l3
				div.card
					div.card-content
						img.image(src="images/duck.jpg")
						h3=user.userName
						br
						a.Button.waves-effect.waves-light.btn-large.z-depth-0(href='/settings') Account
						a.Button.waves-effect.waves-light.btn-large.z-depth-0(href='/password') Password



			div.col.l8
				div.col.l12
					div.card
						div#settings.card-content
							h3 Account Settings
							form(action='/settings' method='POST')
								div.input-field
									input#newUserName(type='text' name='newUserName' placeholder= user.userName length="13")
									label.validate(for="newUserName") Enter new username
								div.input-field
									input#newFullName(type='text' name='newFullName' placeholder=user.fullName)
									label(for='newFullName') Enter in new full name
								div.input-field
									input#newEmail(type="email" name='newEmail' placeholder= user.email)
									label(for="newEmail") Enter in new email address
									input#saveButton(type='submit' class='btn btn-default btn-large' value='Save Changes')
									h5= message






